* {
	box-sizing: border-box;
}

body {
	font-family: Verdana;
	font-size: 0.9em;
}

.ctrl-btns:hover {
	cursor: pointer;
}

.song-list__item:hover {
	cursor: pointer;
}

.add-track-modal__container {
	display: none;
}

.open-modal-btn:hover {
	cursor: pointer;
}